*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
    background-image: url(/img/object_main_logo_IMG_5893.jpg);
}
body{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    /*background-color: rgba(2,2,2,0.7);*/
    background-image: url(/img/object_main_logo_IMG_5893.jpg);
}
.main-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #777;
}
.header{
    display: flex;
    z-index: 1000;
    height: 20px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #333;
    justify-content: center;
}
.clocks{
    color: red;
}
.content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.station{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 32px;
    font-family: "Arial";
    position: relative;
}
.station-name{
    position: absolute;
    left: 10%;
    top: 20px;
}
.stadium-station{
    height: 100vh;
    width: 45%;
    border: #aa0101 solid 1px;
    border-top: 0px;
}
.right-container{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 55%;
}
.top-station{
    height: 50vh;
    width: 100%;
    border: #aa0101 solid 1px;
    border-top: 0px;
    border-left: 0px;
}
.bottom-station{
    height: 50vh;
    width: 100%;
    border: #aa0101 solid 1px;
    border-top: 0px;
    border-left: 0px;
}
.data-point{
    margin-left: 5px;
}
.footer{
    height: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    transition: 0.4s;
}
.footer:hover{
    height: 30px;
}
